{% extends "base.html" %}

{% block head %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
{% endblock %}


{% block content %}
<main>
    <div class="centered login-form">
        <div class="bordered">
            <h2>Please login</h2>
            <form class="login" method="post">
                <div>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="button" type="submit" value="Login"/>
                    
                    {% if 'next' in request.GET %}
                        <a href="{% url 'Portfolio:create' %}?next={{request.GET.next}}" class="button">Create</a>
                    {% else %}
                        <a href="{% url 'Portfolio:create' %}" class="button">Create</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}