{% extends "heyercode/base.html" %} {% block head %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
  crossorigin="anonymous"
></script>

{% load static %}
<script src="{% static 'Portfolio/javascript/source.js' %}"></script>
{% endblock %} {% block content %}

<main>
  <h1 class="floating-header">&lt;HeyerCode&gt;</h1>

  <div class="divParent">
    <div class="divContainer-grid">
      
      <!-- Info -->
      <div class="article-card card">
        <div class="biz-card-body card-body">
          
          <div class="basic-border basic-padding">

            <div class="text-center article-card-header">
            <h1 class="card-title">What is</h1>
            <h3 class="card-text">&lt;HeyerCode&gt;</h3>
            </div><br>
            <article class="article-div article-card">
              <h6 class="article-div-header">What is all this?</h6>
              <ol>
                <li>It is a containerized code running environment for a growing list of coding languages, both compiled and interpreted.</li>
                <li>It is a learning tool for bridging the gap between different languages, while being able to experiment with them in a hassle-free space.</li>
                <li>It is a code execution API, for running code remotely and safely through other applications without any complicated file-handling.</li>
                <li>It is a competitive coding guantlet, where people may compete for the shortest time required to achieve all 10 stars.</li>
              </ol>
            </article>
            


          </div>
        </div>
      </div>
    </div>
  </div>







</main>

{% endblock %}
