{% extends "base.html" %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<style type="text/css">
  body { margin: 0; }
  canvas { width: 100%; height: 100vh; }
</style>
<title>Spaced Out</title>
{% endblock %}

{% block content %}
  <main>
    <h1>Spaced Out</h1>
    
    <div class="divParent"> 
      <div class="divContainer">
        {% load static %}
        <script src="https://cdn.jsdelivr.net/npm/three@0.123.0/build/three.min.js"></script>
        <script src="{% static 'Portfolio/javascript/game.js' %}"></script>

      </div>
    </div>   
    

  </main>




{% endblock %}
