{% extends "base.html" %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

{% endblock %}


{% block content %}
<main>
    <div class="centered login-form">
        <div class="bordered">
            <h2>Create Account</h2>
            {% if request.GET.next %}
            <form class="login" method="post" action="{% url 'Portfolio:create'%}?next={{request.GET.next}}">
            {% else %}
            <form class="login" method="post" action="{% url 'Portfolio:create'%}">
            {% endif %}
                <div class="centered-left">
                    {% csrf_token %}

                    {% for field in form %}
                    {{ field.errors }}
                    <ul>
                        
                        {{field.label_tag}} {{ field }}
                    </ul>

                    {% endfor %}
                    
                </div>
                <input class="button" type="submit" value="Sign Up"/>
            </form>
        </div>
    </div>
</main>
{% endblock %}