/***** Section *****/
/* This is the most up to date Heyer.App CSS */
/***** End Section ****/


* {
  font-family: 'Source Code Pro' !important;
}

.back-z {
  z-index: 1 !important;
}

.mid-z {
  z-index: 10 !important;
}

.front-z {
  z-index: 99999 !important;
}

.card {position: inherit !important;}

.drop-d {
  overflow: visible !important;
  position: fixed !important;
}

.centered{
  margin:auto;
  width:auto;
  color:var(--bg-primary);
  text-align: center;
}

.centered-center{
  margin:auto;
  width:auto;
  text-align: center;
}

.centered-height{
  margin-top: 20%;
}

.centered-left{
  text-align: left;
}

th {
  margin:5px;
  padding:15px;

}

.divParent {
  width: 100%;
}

.divContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  width:auto;
  margin:auto;
  justify-content: center;
}

.divContainer-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto 1fr;

  width:auto;
  margin:auto;
  justify-content: center;
}

.button {
  font-weight: normal;
  font-family: 'Source Code Pro' !important;
  background-color: var(--bg-primary);
  border: none;
  color: var(--text-secondary);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.button:hover {
  color: var(--text-primary);
}

.bordered {
  border: 2px solid black;
  width: fit-content;
  margin: auto;
  padding: 5%;
  height: auto;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.simple-border-shadow {
  border: 2px solid var(--bg-secondary);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.biz-card {
  max-width:24rem;
  margin: 0.25rem;
  font-size: 16px;
  color: var(--bg-secondary);


}

.biz-card-hf {
  background-color: var(--bg-primary) !important;
  color: var(--text-secondary) !important;
}

.biz-card-body {
  background-color: var(--body-primary);
}

.biz-card-img {
  width:fit-content;
  max-width: 5rem;
  height: 5rem;
  display:flex;
  margin-bottom: 20px;
}

.biz-card:hover {
  transform: scale(115%);
  box-shadow: 0 20px 20px rgba(0.4, 0.4, 0.4, 0.4);
  transition: var(--transition-speed) ease-in-out;
  z-index: 999999 !important;
  overflow: visible !important;
  position: relative !important;
}


.biz-card-noanim {
  max-width:36rem;
  margin: 0.25rem;
  font-size: 16px;
  color: var(--bg-secondary);
}

.biz-card-top {
  height:65vh !important;
}

.biz-card-bottom {
  height:20vh !important;
}

.feed-card {
  width:60vw !important;
}

.scrolltainer {
  overflow-y:auto !important;
  scroll-padding: 15px;
}

.toastainer {
  width:100% !important;
  background-color:var(--body-primary) !important;
  
}

.toast-dot {
  fill: var(--text-secondary);
}

.toast-head {
  background-color: var(--bg-primary) !important;
}


:root {
  font-size: 24px;
  font-family: 'Source Code Pro' !important;
  --text-primary: #f2e900 ;
  --text-secondary: #02d7f2;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --body-primary: #dad0c0;
  --transition-speed: 600ms;
  
}

body {
  color: #23232e;
  background-color: var(--body-primary) !important;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #966fd6;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.nnavbar {
  z-index: 99 !important;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: auto;
}

.nnavbar-nav {
  color:var(--bg-primary);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nnav-item {
  width: 100%;
}

.nnav-item:last-child {
  margin-top: auto;
}

.nnav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nnav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nnav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #02d7f2 ;
}

.fa-secondary {
  color: #f2e900 ;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
  font-size: 32px;
}

.nnavbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .nnavbar {
    bottom: 0;
    width: 100vw;
    height: 4rem;
  }

  .nnavbar-nav {
    flex-direction: row;
  }

  .logo {
    height:100%;
    bottom: 0;
    margin:auto;
  }

  .nnav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  :root {
    font-size: 12px;
    
  }

  .biz-card:hover {
    transform: none !important;
    box-shadow: 0 20px 20px rgba(0.4, 0.4, 0.4, 0.4);
    transition: var(--transition-speed) ease-in-out;
    z-index: 1 !important;
    overflow: none !important;
    position: relative !important;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .nnavbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .nnavbar:hover {
    width: 16rem;
  }

  .nnavbar:hover .link-text {
    display: inline;
  }

  .nnavbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .nnavbar:hover .logo-text
  {
    left: 0px;
  }
}

