.centered{
  margin:auto;
  width:auto;
  color:var(--bg-primary);
  text-align: center;
}

.centered-height{
  margin-top: 20%;
}

.centered-left{
  text-align: left;
}

th {
  margin:5px;
  padding:15px;

}

.button {
  font-family: 'Source Code Pro' !important;
  background-color: var(--bg-primary);
  border: none;
  color: var(--text-secondary);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button:hover {
  color: var(--text-primary);
}

.bordered {
  border: 2px solid black;
  width: fit-content;
  margin: auto;
  padding: 5%;
  height: auto;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.card {
  transform-style: preserve-3d;
  border-radius: 30px;
  padding: 0rem 1rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width:450px;
}

:root {
  font-size: 32px;
  font-family: 'Source Code Pro' !important;
  --text-primary: #f2e900 ;
  --text-secondary: #02d7f2;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: #23232e;
  background-color: #dad0c0;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #966fd6;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #02d7f2 ;
}

.fa-secondary {
  color: #f2e900 ;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
  font-size: 32px;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .logo {
    height:100%;
    bottom: 0;
    margin:auto;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

